<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>999440567942-guqmn2lmeg5ccka5n5vklgm5cfdn3lei.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.999440567942-guqmn2lmeg5ccka5n5vklgm5cfdn3lei</string>
	<key>API_KEY</key>
	<string>AIzaSyBnAZ7_24WH-vcCYz1TPjsdPpctsC2QgXE</string>
	<key>GCM_SENDER_ID</key>
	<string>999440567942</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kiskoo.loterias.world</string>
	<key>PROJECT_ID</key>
	<string>loterias-dominicanas</string>
	<key>STORAGE_BUCKET</key>
	<string>loterias-dominicanas.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:999440567942:ios:3e3fc7b44415c720</string>
	<key>DATABASE_URL</key>
	<string>https://loterias-dominicanas.firebaseio.com</string>
</dict>
</plist>